html,
div,
body {
  background-color: #25274d;
  padding: 3px;
  min-width: 100px;
}

h1 {
  margin: 0px;
  padding: 0px;
  color: #dadada;
}

[class*="col-"] {
  color: #dadada;
  /* border: 2px dotted white; */
  border: none;
  padding: 5px;
  height: 60px;
}

[class*="vertcenter"] {
  margin: 0;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
}

.table-list {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-wimg {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 3px;
  border: none;
  border-collapse: collapse;
}

.searchCol,
#searchForm {
  display: block;
  margin: auto;
}

#searchForm {
  width: 100%;
  height: 100%;
}

#query {
  width: 75%;
  height: 100%;
  padding-left: 10px;
}

#submitQuery {
  height: 100%;
  width: 20%;
}

.listHeaderMenu {
  border: none;
  float: left;
  width: 100%;
  display: flex;
}

.listHeader {
  border: none;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.thumbnail {
  max-width: 128px;
}

[class*="cent"] {
  margin: auto;
}

[class*="searchResults"] {
  margin: 0px;
  width: 100%;
}

[class*="resultsCol"] {
  width: 75%;
}

.bookRow td {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

.thumbnail {
  max-height: 204px;
  max-width: 140px;
  height: 196px;
  width: 140px;
}

.bookListing {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 20px;
  vertical-align: top;
  max-width: 70%;
}

th {
  padding-right: 5px;
  padding-left: 5px;
  border-right: none;
  border-left: none;
}

.spacerCol {
  width: 1%;
  border-right: none;
  border-left: none;
  cursor: default;
}

.titleCol {
  width: 15%;
  max-width: 30%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.authorCol {
  width: 10%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.pageCol {
  width: 4%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.pubDateCol {
  width: 4%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.startedCol {
  width: 8%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.finishedCol {
  width: 8%;
  border-right: none;
  border-left: none;
  cursor: pointer;
}

.genresCol {
  width: 18%;
  border-right: none;
  border-left: none;
  cursor: default;
}

.ratingCol {
  width: 5%;
  border-right: none;
  cursor: pointer;
}

.reviewCol {
  width: 18%;
  border-right: none;
  border-left: none;
  cursor: default;
}

.controlCol {
  width: 10%;
  border-right: none;
  border-left: none;
  cursor: default;
}

.title {
  width: 15%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.author {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pages {
  width: 4%;
}

.publicationDate {
  width: 4%;
}

.dateStarted {
  width: 8%;
}

.dateFinished {
  width: 8%;
}

.bookControls {
  width: 10%;
}

.genres {
  width: 18%;
}

.genresSelect {
  color: black;
}

.rating {
  width: 5%;
}

.review {
  width: 18%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleColRL {
  width: 40%;
  cursor: pointer;
}

.authorColRL {
  width: 25%;
  cursor: pointer;
}

.pagesColRL {
  width: 10%;
  cursor: pointer;
}

.pubDateColRL {
  width: 10%;
  cursor: pointer;
}

.controlColRL {
  width: 15%;
}

.titleRL {
  width: 40%;
}

.authorRL {
  width: 25%;
}

.pagesRL {
  width: 10%;
}

.pubDateRL {
  width: 10%;
}

.bookControlsRL {
  width: 15%;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: none;
}

input {
  border-radius: 5px;
}

.searchMenu {
  border-radius: 5px;
  width: 100%;
  height: 50px;
}

.addBookMenu {
  width: 20%;
}

.table-list tr:nth-child(even) {
  background-color: #313463;
}

tr [class*="wimg"] {
  background-color: inherit;
}

button {
  border-radius: 5px;
}

#editOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100vw; /* Full width (cover the whole page) */
  height: 100vh; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#editDiv {
  width: 50vw;
  min-height: 50vh;
  margin: auto;
  margin-top: 20vh;
  color: white;
  border-radius: 10px;
  /* transform: translate(-50vw, -50vh); */
}

.textAreaReview {
  resize: none;
  /* overflow: auto; */
  width: 100%;
  height: 30vh;
  margin: auto;
}

#username,
#password {
  padding: 3px;
}

.loginMenu {
  width: 30%;
  margin: auto;
  padding: 30px;
  background-color: #313463;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jqtl-container {
  background-color: #25274d !important;
  border: none !important;
}

.jqtl-container::-webkit-scrollbar {
  height: 8px;
}