
html, div {
    background-color: #25274D;
    padding: 3px;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #dadada;
}


[class*="col-"] {
    color: #dadada;
    border: 2px dotted white;
    padding: 5px;
}

[class*="vertcenter"] {
    margin: 0;
    /* position: absolute; */
    top: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

form {
    margin: 0px;
    display: inline;
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px;
    border: 1px solid white;
    border-collapse: collapse;
}