
html, div, body {
    background-color: #25274D;
    padding: 3px;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #dadada;
}

[class*="col-"] {
    color: #dadada;
    /* border: 2px dotted white; */
    border: none;
    padding: 5px;
}

[class*="vertcenter"] {
    margin: 0;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
}

table {
    border-collapse: collapse;
}

td {
    padding: 3px;
    border: 1px solid white;
    border-collapse: collapse;
}

.searchCol, #searchForm {
    display: block;
    margin: auto;
}

#searchForm {
    width: 100%;
    height: 100%;
}

#query {
    width: 80%;
    height: 100%;
}

#submitQuery {
    height: 100%;
    width: 15%;
}

[class*="cent"] {
    margin: auto;
}

[class*="searchResults"] {
    margin: 0px;
    width: 100%;
}

[class*="results"] {
    width: 75%;
}

.bookRow + tr:hover {
    background-color: #18192c;
}

.bookRow td {
    border: none;
}

.thumbnail {
    max-height: 204px;
    max-width: 140px;
    height: 196px;
    width: 140px;
}

.bookListing {
    padding-left: 15px;
    padding-top: 15px;
    vertical-align: top;
}

