{% extends 'base.html' %}

{% block head %}
<title>Libro Disco - Book Records</title>
<link rel="stylesheet" href="{{ url_for('static', filename='dist/jquery.timeline.min.css') }}">
<script src="{{ url_for('static', filename='dist/jquery.timeline.min.js') }}"></script>
{% endblock %}

{% block body %}


<div class="content" style="overflow:hidden;">

    <div class="container-fluid">

    <div id="editOverlay">
        <div id="editDiv">
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <h1>📚 Libro Disco 💿</h1>
        </div>
        <div class="col-md-6">
            <form id="searchForm" action="/query/" method="POST" style="float: left;">
                <input id="query" type="text" name="query" placeholder="Search for a book by title, author, etc.">
                <input id="submitQuery" type="submit" value="Search">
            </form>
        </div>
        <div class="col-md-3">
            <form action="/logout/" method="POST">
                <input type="submit" value="Log Out" onsubmit="return confirm('Are you sure you want to log out?');">
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 table-responsive" style="height: 45vh; border: none; overflow-x: unset;">
            {% if showImages %}
            <div id="tableContent" style="height: 40vh; overflow: overlay;">
                <table class="table-wimg">
                    <tr class="bookRow"></tr>
                    {% for book in books %}
                        <tr class="bookRow">
                            <td class="thumbnail">
                                <img id="thumbnail{{book['id']}}" class="thumbnail" src="{{ book['img_url'] }}" />
                            </td>
                            <td class="bookListing">
                                <table>
                                    <tr class="wimg"><td class="title-wimg"><h3>{{ books[i].title }}</h3></td></tr class="wimg">
                                    <tr class="wimg"><td class="author-wimg"><h6>{{ books[i].author }}</h6></td></trclass="wimg">
                                    {% if books[i].page_count != "" %}
                                        <tr class="wimg"
                                        class="wimg"><td class="pages-wimg">{{ books[i].page_count }} pages</td></tr>
                                    {% endif %}
                                    <tr class="wimg"><td class="publicationDate-wimg">Published {{ books[i].pub_date }}</td></tr>
                                    <tr class="wimg"><td class="dateAdded-wimg">Added {{ books[i].date_added }}</td></trclass="wimg">
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <table class="table-list">
                    <tr class="listHeader">
                        <th id="titleCol" class="titleCol">&nbspTitle {% if sort == 'title' %}{% if sortAtoZ %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                        <th id="spacerCol" class="spacerCol"></th>
                        <th id="authorCol" class="authorCol">Author {% if sort == 'author' %}{% if sortAtoZ %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                        <th id="pageCol" class="pageCol">Pg. {% if sort == 'page_count' %}{% if sortAtoZ %}🔽{% else %}🔼{% endif %}{% endif %}</th>
                        <th id="pubDateCol" class="pubDateCol">Pub. {% if sort == 'pub_date' %}{% if sortAtoZ %}🔽{% else %}🔼{% endif %}{% endif %}</th>
                        <th id="startedCol" class="startedCol">Start {% if sort == 'date_started' %}{% if sortAtoZ %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                        <th id="finishedCol" class="finishedCol">Finish {% if sort == 'date_finished' %}{% if sortAtoZ %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                        <th id="genresCol" class="genresCol">Genres</th>
                        <th id="ratingCol" class="ratingCol">Rating {% if sort == 'rating' %}{% if sortAtoZ %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                        <th id="reviewCol" class="reviewCol">Review</th>
                        <th id="controlCol" class="controlCol"></th>
                        <div style="display: none;">
                        <form action="/sort_log/" method="post" style="display: none;">
                            <input id="sortTitle" name="sortTitle" type="submit" style="display: none;">
                            <input id="sortAuthor" name="sortAuthor" type="submit" style="display: none;">
                            <input id="sortPageCount" name="sortPageCount" type="submit" style="display: none;">
                            <input id="sortPubDate" name="sortPubDate" type="submit" style="display: none;">
                            <input id="sortDateAdded" name="sortDateAdded" type="submit" style="display: none;">
                            <input id="sortDateFinished" name="sortDateFinished" type="submit" style="display: none;">
                            <input id="sortRating" name="sortRating" type="submit" style="display: none;">
                        </form>
                        </div>

                        <script>
                            $("#titleCol").click(function() {
                                $("#sortTitle").click();
                            });
                            $("#authorCol").click(function() {
                                $("#sortAuthor").click();
                            });
                            $("#pageCol").click(function() {
                                $("#sortPageCount").click();
                            });
                            $("#pubDateCol").click(function() {
                                $("#sortPubDate").click();
                            });
                            $("#startedCol").click(function() {
                                $("#sortDateAdded").click();
                            });
                            $("#finishedCol").click(function() {
                                $("#sortDateFinished").click();
                            });
                            $("#ratingCol").click(function() {
                                $("#sortRating").click();
                            });
                        </script>
                    </tr>
                </table>

                <div id="tableContent" style="height: 40vh; overflow-y: overlay; overflow-x: hidden;">
                <table class="table-list">
                    

                    {% for i in range(books|length) %}
                        <tr class="bookRow">
                            <td class="title" id="title{{books[i].id}}">{{ books[i].title }}</td>
                            <td class="spacerCol"></td>
                            <td class="author" id="author{{books[i].id}}">{{ books[i].author }}</td>
                            {% if books[i].page_count != "" %}
                                <td class="pages" id="pages{{books[i].id}}">{{ books[i].page_count }}</td>
                            {% endif %}
                            <td class="publicationDate" id="pubDate{{books[i].id}}">{{ books[i].pub_date }}</td>
                            <td class="dateStarted" id="startDate{{books[i].id}}">{{ books[i].date_started }}</td>
                            {% if books[i].date_finished == None %}
                                <td class="dateFinished" id="finishDate{{books[i].id}}">
                                    <form action="/finish_book/" method="POST" style="float:left; width:100%">
                                        <input id="finishedBook{{books[i].id}}" type="hidden" name="finishedBook" value={{books[i].id}}>
                                        <button type="submit">Finished</button>
                                    </form>
                                </td>
                            {% else %}
                                <td class="dateFinished" id="finishDate{{books[i].id}}">{{ books[i].date_finished }}</td>
                            {% endif %}
                            <td id="genres{{books[i].id}}" class="genres">
                                <div id="genresDisplay{{books[i].id}}" style="padding: 0px; background-color:inherit;">
                                {% if books[i].genres is not none %}
                                    {% for genre in books[i].genres %}
                                        {% if genre == books[i].genres[-1] %}
                                            <a>{{ genre }}</a>
                                        {% else %}
                                            <a>{{ genre }} |</a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                </div>
                                <div id="genresSelect{{books[i].id}}" class="genresSelect" style="display: none; width: 100%; padding: 0px;">
                                    <select id="select2List{{books[i].id}}" style="width: 100%;" multiple data-placeholder="Select genres">
                                        <option value="0" {% if 'Astronomy' in books[i].genres %} selected {% endif %}>Astronomy</option>
                                        <option value="0" {% if 'Biography' in books[i].genres %} selected {% endif %}>Biography</option>
                                        <option value="0" {% if 'Business' in books[i].genres %} selected {% endif %}>Business</option>
                                        <option value="0" {% if 'Biology' in books[i].genres %} selected {% endif %}>Biology</option>
                                        <option value="0" {% if 'Classic' in books[i].genres %} selected {% endif %}>Classic</option>
                                        <option value="0" {% if 'Graphic Novel' in books[i].genres %} selected {% endif %}>Graphic Novel</option>
                                        <option value="0" {% if 'Computing' in books[i].genres %} selected {% endif %}>Computing</option>
                                        <option value="0" {% if 'Engineering' in books[i].genres %} selected {% endif %}>Engineering</option>
                                        <option value="0" {% if 'Fantasy' in books[i].genres %} selected {% endif %}>Fantasy</option>
                                        <option value="0" {% if 'Fiction' in books[i].genres %} selected {% endif %}>Fiction</option>
                                        <option value="0" {% if 'Health' in books[i].genres %} selected {% endif %}>Health</option>
                                        <option value="0" {% if 'History' in books[i].genres %} selected {% endif %}>History</option>
                                        <option value="0" {% if 'Horror' in books[i].genres %} selected {% endif %}>Horror</option>
                                        <option value="0" {% if 'Humor' in books[i].genres %} selected {% endif %}>Humor</option>
                                        <option value="0" {% if 'Kids' in books[i].genres %} selected {% endif %}>Kids</option>
                                        <option value="0" {% if 'Law' in books[i].genres %} selected {% endif %}>Law</option>
                                        <option value="0" {% if 'Non-Fiction' in books[i].genres %} selected {% endif %}>Non-Fiction</option>
                                        <option value="0" {% if 'Math' in books[i].genres %} selected {% endif %}>Math</option>
                                        <option value="0" {% if 'Military' in books[i].genres %} selected {% endif %}>Military</option>
                                        <option value="0" {% if 'Music' in books[i].genres %} selected {% endif %}>Music</option>
                                        <option value="0" {% if 'Mystery' in books[i].genres %} selected {% endif %}>Mystery</option>
                                        <option value="0" {% if 'Nature' in books[i].genres %} selected {% endif %}>Nature</option>
                                        <option value="0" {% if 'Philosophy' in books[i].genres %} selected {% endif %}>Philosophy</option>
                                        <option value="0" {% if 'Poetry' in books[i].genres %} selected {% endif %}>Poetry</option>
                                        <option value="0" {% if 'Politics' in books[i].genres %} selected {% endif %}>Politics</option>
                                        <option value="0" {% if 'Psychology' in books[i].genres %} selected {% endif %}>Psychology</option>
                                        <option value="0" {% if 'Religion' in books[i].genres %} selected {% endif %}>Religion</option>
                                        <option value="0" {% if 'Romance' in books[i].genres %} selected {% endif %}>Romance</option>
                                        <option value="0" {% if 'Science' in books[i].genres %} selected {% endif %}>Science</option>
                                        <option value="0" {% if 'Sci-Fi' in books[i].genres %} selected {% endif %}>Sci-Fi</option>
                                        <option value="0" {% if 'Teen' in books[i].genres %} selected {% endif %}>Teen</option>
                                        <option value="0" {% if 'Travel' in books[i].genres %} selected {% endif %}>Travel</option>
                                    </select>
                                </div>
                            </td>
                            <td id="rating{{books[i].id}}" class="rating">{{ books[i].rating }}</td>
                            <td id="review{{books[i].id}}" class="review">
                                <a>{{books[i].review}}</a>
                            </td>
                            <td id="bookControls{{books[i].id}}" class="bookControls">
                                <button id="editBtn{{books[i].id}}" class="editBtn">📝 Edit</button>
                            </td>
                            <td id="volumeID{{books[i].id}}" style="display:none;">{{books[i].volume_id}}</td>
                            <td id="img_url{{books[i].id}}" style="display:none;">{{books[i].img_url}}</td>
                        </tr>
                    {% endfor %}
                </table>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">

        <div class="col-md-6 table-responsive" style="height: 38vh; border: none; overflow-x: unset;">
        <h3>Want-to-Read</h3>
        <table class="table-list">
            <tr class="listHeader">
                <th id="titleColRL" class="titleColRL">&nbspTitle {% if sortReadList == 'title' %}{% if sortAtoZReading %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                <th id="authorColRL" class="authorColRL">Author {% if sortReadList == 'author' %}{% if sortAtoZReading %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                <th id="pagesColRL" class="pagesColRL">Pg. {% if sortReadList == 'page_count' %}{% if sortAtoZReading %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                <th id="pubDateColRL" class="pubDateColRL">Pub. {% if sortReadList == 'pub_date' %}{% if sortAtoZReading %}🔼{% else %}🔽{% endif %}{% endif %}</th>
                <th id="controlColRL" class="controlColRL"></th>
                <div style="display:none">
                    <form action="/sort_reading_list/" method="post", style="display:none">
                        <input id="sortTitleRL" name="sortTitleRL" type="submit" style="display:none">
                        <input id="sortAuthorRL" name="sortAuthorRL" type="submit" style="display:none">
                        <input id="sortPageCountRL" name="sortPageCountRL" type="submit" style="display:none">
                        <input id="sortPubDateRL" name="sortPubDateRL" type="submit" style="display:none">
                    </form>
                </div>
                <script>
                    $("#titleColRL").click(function() {
                        $("#sortTitleRL").click();
                    });
                    $("#authorColRL").click(function() {
                        $("#sortAuthorRL").click();
                    });
                    $("#pagesColRL").click(function() {
                        $("#sortPageCountRL").click();
                    });
                    $("#pubDateColRL").click(function() {
                        $("#sortPubDateRL").click();
                    });
                </script>
            </tr>
        </table>
    
        <div id="tableContent" style="height: 80%; overflow: overlay;">
            <table class="table-list">
                

                {% for i in range(booksToRead|length) %}
                    <tr class="bookRow">
                        <td class="titleRL" id="title{{booksToRead[i].id}}" >{{ booksToRead[i].title }}</td>
                        <td class="authorRL" id="author{{booksToRead[i].id}}" >{{ booksToRead[i].author }}</td>
                        {% if booksToRead[i].page_count != "" %}
                            <td class="pagesRL" id="pages{{booksToRead[i].id}}" >{{ booksToRead[i].page_count }}</td>
                        {% endif %}
                        <td class="pubDateRL" id="pubDate{{booksToRead[i].id}}" >{{ booksToRead[i].pub_date }}</td>
                        <td id="bookControls{{booksToRead[i].id}}" class="bookControlsRL">
                            <button id="readBtn{{booksToRead[i].id}}" class="readBtn" style="float: left;">📖 Begin Reading</button>
                        </td>
                        <td id="volumeID{{booksToRead[i].id}}" style="display:none;">{{booksToRead[i].volume_id}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-7" style="height:fit-content;">
                <h3>Stats for Nerds</h3>

                <div id="timeline">
                    <ul class="timeline-events">
                        <li data-timeline-node="{ start:'2018-03-01', end:'2020-12-01',content:'Event Here' }">Event Label</li>
                        <li data-timeline-node="{ start:'2019-03-01', end:'2020-06-01',content:'Test' }">Test2</li>
                    </ul>
                </div>

                <script>
                    $("#timeline").Timeline({
                        // "bar" or "point"
                        type            : "bar",
                        // "years" or "months" or "days"
                        scale           : "days", 
                        // start <a href="https://www.jqueryscript.net/time-clock/">date</a> time
                        startDatetime   : "currently",
                        // end date time
                        endDatetime     : "auto",
                        // displays headline
                        headline        : {
                            display     : true,
                            title       : "",
                            range       : true,
                            locale      : "en-US",
                            format      : { hour12: false }
                        }, 
                        // displays sidebar
                        sidebar         : {
                            sticky      : false,
                            overlay     : false,
                            list        : [], //  an array of items
                        },
                        // displays ruler
                        ruler           : {
                            top         : {
                            lines      : [],
                            height     : 30,
                            fontSize   : 14,
                            color      : "#777777",
                            background : "#FFFFFF",
                            locale     : "en-US",
                            format     : { hour12: false }
                            },
                        },
                        // displays footer
                        footer          : {
                            display     : true,
                            content     : "",
                            range       : false,
                            locale      : "en-US",
                            format      : { hour12: false }
                        },
                        // displays event meta
                        eventMeta       : {
                            display     : false,
                            scale       : "day",
                            locale      : "en-US",
                            format      : { hour12: false },
                            content     : ""
                        },
                        // event data
                        eventData       : [],
                        // enables/disables effects
                        effects         : {
                            presentTime : true,
                            hoverEvent  : true,
                            stripedGridRow : true,
                            horizontalGridStyle : 'dotted',
                            verticalGridStyle : 'solid',
                        },
                        colorScheme     : { // Added new option since v2.0.0
                            event         : {
                            text        : "#313463",
                            border      : "#313463",
                            background  : "#25274d"
                            },
                            hookEventColors : () => null, // Added instead of merging setColorEvent of PR#37 since v2.0.0
                        },
                        // default view range
                        range           : 3, 
                        // numer of timeline rows
                        rows            : 5, 
                        // height of row
                        rowHeight       : 40, 
                        // width of timeline
                        width           : "auto",
                        // height of timeline
                        height          : "auto",
                        // min size of <a href="https://www.jqueryscript.net/tags.php?/grid/">grid</a>
                        minGridSize     : 30, 
                        // margin size
                        marginHeight    : 2,
                        // "left", "center", "right", "current", "latest" or specific event id
                        rangeAlign      : "latest",
                        // "default", false and selector
                        loader          : "default",
                        // loading message
                        loadingMessage  : "",
                        // hides scrollbar
                        hideScrollbar   : false,
                        // "session" or "local"
                        storage         : "session",
                        // loads cached events during reloading
                        reloadCacheKeep : false,
                        // zooms the scale of the timeline by double clicking
                        zoom            : false,
                        // wraps new scale in the timeline container when zooming
                        wrapScale       : true,
                        // 0: Sunday, 1: Monday, ... 6: Saturday
                        firstDayOfWeek  : 0, 
                        // "canvas" or "d3.js"
                        engine          : "canvas",
                        // avoid validation of the maximum of the scale grids
                        disableLimitter : false,
                        // debug mode
                        debug           : false
                    });

                    $("#timeline").Timeline('show');

                </script>



                <div class="chart-container" style="float: left; height:40%; width:40%; padding: 10px;">
                    <canvas id="GenreChart" width="400" height="400"></canvas>
                </div>
                <script>
                    Chart.defaults.global.responsive = true;

                    
                    var ctx = $('#GenreChart');

                    var genresList = [];

                    var GenreFreq = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Astronomy','Biography','Business','Biology','Classic','Graphic','Computing','Engineering','Fantasy','Health','History','Horror','Humor','Kids','Law','Math','Military','Music','Mystery','Nature','Philosophy','Poetry','Politics','Psychology','Religion','Romance','Sci-Fi','Teen','Travel'],
                            datasets: [{
                                label: 'Books',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>

                <div class="chart-container" style="float: left; height:40%; width:40%; padding: 10px;">
                    <canvas id="GenreChart2" width="400" height="400"></canvas>
                </div>
                <script>
                    Chart.defaults.global.responsive = true;

                    var ctx = $('#GenreChart2');
                    var GenreChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['SCiFi', 'Romance', 'Classic', 'Science', 'Fantasy', 'Fiction'],
                            datasets: [{
                                label: '# of Books Read',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>


<script>

    function readBook(volumeID, id) {
        var xmlhttp = new XMLHttpRequest();
        var url = "https://www.googleapis.com/books/v1/volumes/"+volumeID;

        xmlhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var bookJSON = JSON.parse(this.responseText);
                var name = bookJSON.volumeInfo.authors[0];
                name = parseFullName(name);
                author = name.last;
                if (name.first) {
                    author += ", "+name.first;
                    if (name.middle) {
                        author += " "+name.middle;
                    }
                }
                $.ajax({
                    type: "POST",
                    url: '/select_volume/',
                    data: JSON.stringify({
                        'volumeID':volumeID,
                        'author':author
                    }),
                    contentType: "application/json",
                    success: function () {
                        $.ajax({
                            url: '/delete_reading_list/'+id
                        });
                        location.reload();
                    }
                });
            }
        };

        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    }

    $(".readBtn").click(function() {
        var id = this.id.substring(7);
        var volume_id = $("#volumeID"+id).text();
        readBook(volume_id,id);
        
    });


    let title, author, pages, published, startDate, finishDate, genres, rating;

    function restoreListing(id) {
        $("#title"+id).html(title);
        $("#author"+id).html(author);
        $("#pages"+id).html(pages);
        $("#pubDate"+id).html(published);
        $("#startDate"+id).html(startDate);
        if (finishDate == "" || finishDate.includes("Finished")) {
            $("#finishDate"+id).html('<form action="/finish_book/" method="POST" style="float:left; width: 100%"><input id="finishedBook'+id+'" type="hidden" name="finishedBook" value='+id+'><button type="submit">Finished</button></form>');
        }
        else {
            $("#finishDate"+id).html('<td class="dateFinished" id="finishDate'+id+'">'+finishDate+'</td>');
        }
        $("#genresDisplay"+id).html(genres);
        $("#genresDisplay"+id).css("display","");
        $("#genresSelect"+id).css("display","none");
        $("#ratingInput"+id).remove();
        $("#rating"+id).html(rating);
        $("#editReviewBtn"+id).remove();
        $("#editOverlay").css("display","none");

        $("#cancelEditBtn"+id).remove();
        $("#saveEditBtn"+id).remove();
        $("#deleteBtn"+id).remove();
        $("#editBtn"+id).show();
    }

    function editReview(reviewID,review,bookTitle) {
        $("#editDiv").html('<h3 style="padding:10px;text-align:center;">Edit your review for '+bookTitle+'</h3><div style="width:45vw; margin:auto;"><textarea id="textReview'+reviewID+'" class="textAreaReview">'+review+'</textarea></div><div style="width:45vw; margin:auto"><button onclick="closeEdit()" style="width:50%; height: 5vh;">Cancel</button><button onclick="saveEdit('+reviewID+')" style="width:50%; height: 5vh;">Submit</button></div>');
        $("#editOverlay").css("display","block");
    }

    function closeEdit() {
        $("#editOverlay").css("display","none");
    }

    function saveEdit(reviewID) {
        var review = $("#textReview"+reviewID).val();
        $($("#review"+reviewID).children("a")[0]).text(review);
        $.ajax({
            type: "POST",
            url: '/edit_review/',
            data: JSON.stringify({"review":review, "id":reviewID}),
            contentType: "application/json",
            success: function (data) {
                closeEdit();
            }
        });
    }

    $(".editBtn").click(function() {
        var id = this.id.substring(7);
        if ($("#title"+id).html().includes("<input")) {
            return;
        }
        title = $("#title"+id).text();
        $("#title"+id).html('<input type="text" id="titleEditField'+id+'" value="' + title + '"  style="width:100%;">');
        author = $("#author"+id).text();
        $("#author"+id).html('<input type="text" id="authorEditField'+id+'" value="' + author + '"  style="width:100%;">');
        pages = $("#pages"+id).text();
        $("#pages"+id).html('<input type="text" id="pagesEditField'+id+'" value="' + pages + '"  style="width:100%;">');
        published = $("#pubDate"+id).text();
        $("#pubDate"+id).html('<input type="text" id="publishedEditField'+id+'" value="' + published + '"  style="width:100%;">');
        startDate = $("#startDate"+id).text();
        $("#startDate"+id).html('<input type="date" id="startDateEditField'+id+'" value="' + startDate + '"  style="width:100%;">');
        finishDate = $("#finishDate"+id).text();
        if (finishDate == undefined || !finishDate.trim()) {
            finishDate = $("#finishDateField"+id).val();
        }
        $("#finishDate"+id).html('<input type="date" id="finishDateEditField'+id+'" value="' + finishDate + '"  style="width:100%;">');
        genres = $("#genresDisplay"+id).text();
        $("#genresDisplay"+id).css("display","none");
        $("#genresSelect"+id).css("display","");
        $("#select2List"+id).select2();
        rating = $("#rating"+id).text();
        $("#rating"+id).html('<input id="ratingInput'+id+'" type="number" max=5 min=1 step=0.5 value='+rating+' style="width:100%;">');
        $("#review"+id).prepend('<button id="editReviewBtn'+id+'">✍️</button>');
        $("#editReviewBtn"+id).click(function() {
            editReview(id,$("#review"+id).children("a")[0].text,$("#titleEditField"+id).attr("value"));
        });

        $("#editBtn"+id).hide();
        $("#bookControls"+id).append('<button id="cancelEditBtn'+id+'" class="cancelEditBtn" style="float: left;">↩️</button>');
        $("#bookControls"+id).append('<button id="saveEditBtn'+id+'" class="saveEditBtn" style="float: left;">💾</button>');
        $("#bookControls"+id).append('<form id="deleteBtn'+id+'" action="/delete/'+id+'" style="float: left;" onsubmit="return confirm(\'Are you sure you want to delete this book?\');"><input id="deleteBtnSubmit'+id+'" type="submit" value="❌"/></form>');
        $("#cancelEditBtn"+id).click(function() { restoreListing(id); });
        $("#saveEditBtn"+id).click(function() {
            title = $("#titleEditField"+id).val();
            author = $("#authorEditField"+id).val();
            pages = $("#pagesEditField"+id).val();
            published = $("#publishedEditField"+id).val();
            startDate = $("#startDateEditField"+id).val();
            finishDate = $("#finishDateEditField"+id).val();
            genres = [];
            $("#select2List"+id).select2('data').forEach(function(g) {
                genres.push(g.text);
            });
            // console.log(genres)
            var rating = $("#ratingInput"+id).val();
            var thumbnail = $("#img_url"+id).text();
            var volumeID = $("#volumeID"+id).text();

            $.ajax({
                type: "POST",
                url: '/edit_listing/',
                data: JSON.stringify({
                    'id':id,
                    'title':title,
                    'author':author,
                    'pages':pages,
                    'published':published,
                    'startDate':startDate,
                    'finishDate':finishDate,
                    'rating':rating,
                    'thumbnail':thumbnail,
                    'volumeID':volumeID,
                    'genres':genres
                }),
                contentType: "application/json",
                success: function (data) {
                    // Delete redundant old listing
                    $('body').append('<form id="tempDelete" action="/delete/'+id+'">');
                    $("#tempDelete").submit();
                    $("#tempDelete").remove();
                }
            });


        });
    });
</script>



{% endblock %}