{% extends 'base.html' %}

{% block head %}
<title>Bookmark</title>
{% endblock %}

{% block body %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form id="searchForm" action="/query/" method="POST">
                    <input id="query" type="text" name="query" placeholder=" Search for a book by title, author, etc.">
                    <input id="submitQuery" type="submit" value="Search">
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-12-cent-results">
                <table class="searchResults-cent">
                    <tr class="bookRow"></tr>
                    {% for i in range(titles|length) %}
                        <tr class="bookRow">
                            <td class="thumbnail">
                                {% if img_url[i] == "" %}
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/618C21neZFL._SX331_BO1,204,203,200_.jpg" style="max-width:100%;max-height:100%;" />
                                {% else %}
                                    <img src="{{img_url[i]}}" />
                                {% endif %}
                            </td>
                            <td class="bookListing">
                                <table>
                                    <tr><td class="title"><h3>{{ titles[i] }}</h3></td></tr>
                                    <tr><td class="author"><h6>{{ authors[i] }}</h6></td></tr>
                                    {% if pages[i] != "" %}
                                        <tr><td class="pages">{{ pages[i] }} pages</td></tr>
                                    {% endif %}
                                    <tr><td class="publicationDate">Published {{ publishDates[i] }}</td></tr>
                                    <tr><td class="volumeID">{{ volumeIDs[i] }}</td></tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    <script>
                        $(".volumeID").hide();
                        $(".bookRow").click(function() {
                            volumeID = $(this).find($(".volumeID"))[0].innerText;
                            $.ajax({
                                type: "POST",
                                url: '/select_volume/',
                                data: {volumeID:volumeID},
                                success: function (data) {}
                            });
                        });
                    </script>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}